body {
  font-family: "Micro 5", serif;
  background-color: black;
}
.title {
  width: 100%;
  height: auto;
  text-align: center;
  color: rgb(23, 78, 188);
}
.title-text {
  text-shadow: -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 2px 0 rgb(0, 0, 0),
    0 -2px rgb(0, 0, 0);
  font-size: 140px;
  user-select: none;
}

.background {
  position: fixed;
  background-image: url(Fotos/backgrounds/background.png);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: grayscale(0.2) blur(1px) brightness(0.7) opacity(0.5);
  background-size: cover;
  z-index: -1;
}
.Link {
  text-decoration: none;
  text-decoration-line: none;
}
.button-box {
  z-index: 2;
  position: relative;
  width: 100%;
  height: auto;
}
.Button {
  font-family: "Micro 5", serif;
  font-size: 50px;
  cursor: pointer;
  background-color: rgb(67, 67, 117);
  display: flex;
  width: 60vh;
  height: 8vh;
  margin: 0 auto;
  margin-top: 5vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.6em 1.3em;
  font-weight: 900;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.Button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.Button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
