body {
  font-family: "Arial", sans-serif;
  background-color: #2b2b2b;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

/* Back button */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-button button {
  background: none;
  color: white;
  padding: 10px 15px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.back-button button:hover {
  background: none;
  transform: scale(1.2);
}

/* Character and skill section */
.selector {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 50px;
  width: 100%;
  max-width: 900px;
}

.character {
  width: 550px;
  height: 550px;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 5px solid #888;
  border-radius: 10px;
  position: relative;
}

.character img {
  max-width: 100%;
  max-height: 100%;
  image-rendering: pixelated;
}

/* Right container to hold skills and select button */
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px; /* Space between the character and skills */
}

/* Skills Section */
.skills {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.skills p {
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skills button {
  background-color: #ffcc00;
  color: #000;
  border: none;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.skills button:hover {
  background-color: #e6b800;
}

/* Select Button directly below the skills */
.right-container button#Select {
  background-color: #a2ff00;
  color: #000;
  border: none;
  width: auto;
  padding: 20px;
  margin-top: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.right-container button#Select:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px #000;
}

/* Navigation buttons at the bottom */
.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 600px;
  margin-top: 30px;
  width: 100%;
}

.nav-buttons button {
  background-color: rgb(73, 73, 73);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
  background-color: #727272;
}

.nav-buttons button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
