body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  padding: 0;
}

canvas {
  display: block;
  margin: auto;
  background-color: #222;
}

/*pause menu*/
#game {
  padding: 20px;
  text-align: center;
}

#pauseMenu {
  position: fixed;
  top: 10%;
  left: 35%;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border: black 2px solid;
  width: 30%;
  height: 80%;
  background-color: gray;
  border-radius: 10%;
}

.hidden {
  display: none;
  opacity: 0;
}
